@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sylabus</h1>
    <p class="lead">Program zajęć dydaktycznych</p>

    <div class="form-group">
        <label>Szukaj:</label><input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="sel1">Default select list</label>
        <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>
</div>


