@{
    ViewBag.Title = "Sylabus WMI";
}
<div class="container" style="padding-left:0">
    <div class="container" style="padding-left:0">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index")</li>
            <li>@Html.ActionLink("Siatki godzin", "Siatkigodzin", "Home")</li>
            <li>@Html.ActionLink("Panel administracyjny", "Index", "Admin")</li>
        </ul>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Szukaj" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
    </form>
    <div class="form-group">
        <label for="rok">Rok akademicki</label>
        <select class="form-control" id="rok">
            <option value="2015/2016st">2015/2016 (ST)</option>
            <option value="2015/2016niest">2015/2016 (NIEST)</option>
            <option value="2016/2017st">2016/2017 (ST)</option>
            <option value="2016/2017niest">2016/2017 (NIEST)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="kierunek">Kierunek</label>
        <select class="form-control" id="kierunek">
            <option value="wszystkie">Wszystkie</option>
            <option value="informatyka">Informatyka</option>
            <option value="matematyka">Matematyka</option>
            <option value="nauczanie_matiinf">Nauczanie matematyki i informatyki</option>
        </select>
    </div>
    <div class="form-group">
        <label for="stopien">Stopień</label>
        <select class="form-control" id="stopien">
            <option value="pierwszy_st">Studia I stopnia</option>
            <option value="drugi_st">Studia II stopnia</option>
        </select>
    </div>
    <div class="form-group">
        <label for="rodzaj">Rodzaj przedmiotu</label>
        <select class="form-control" id="rodzaj">
            <option value="wszystkie">Wszystkie</option>
            <option value="podstawowy">Podstawowy</option>
            <option value="fakultet">Fakultet</option>
            <option value="specjalizacja">Specjalizacja</option>
        </select>
    </div>
</div>




<!--
<table id="subjecttable">
    <thead>
        <tr>
            <th>Id roli</th>
            <th>Nazwa</th>
            <th>Opis</th>
        </tr>
    </thead>
</table>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#subjecttable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/api/Roles",
                    "type": "GET"
                },
                "columns": [
                    { "data": "Id_roles" },
                    { "data": "Roles_name" },
                    { "data": "Roles_description" }

                ]
            });
        });
    </script>
}
-->
