@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="jumbotron">
        <div>
            <div>
                <h1>Sylabus</h1>
                <p class="lead">Program zajęć dydaktycznych</p>
                <hr style="height: 2px; background: gray; border: 0px;">
            </div>
            <div>
                <img src="logo.png" alt="logo">
            </div>
        </div>
        <div class="form-group">
            <label>Szukaj:</label><input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="sel1">Rok akademicki</label>
            <select class="form-control" id="rok">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sel1">Kierunek</label>
            <select class="form-control" id="kierunek">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sel1">Stopień</label>
            <select class="form-control" id="stopien">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sel1">Rodzaj przedmiotu</label>
            <select class="form-control" id="rodzaj">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
    </div>
</div>

