@{
    ViewBag.Title = "Siatki godzin";
}
<div class="container" style="padding-left:0">
    <ul class="nav navbar-nav">
        <li><a href="/Home/Index">Home</a></li>
        <li><a href="/Home/Siatkigodzin">Siatki godzin</a></li>
        <li><a href="/Home/Wykladowca">Wykladowca</a></li>
    </ul>
</div>
<div>
    <p>Siatki godzin</p>
</div>
