@{
    ViewBag.Title = "Wykladowca";
}
<div class="container" style="padding-left:0">
    <ul class="nav navbar-nav">
        <li><a href="/Home/Index">Home</a></li>
        <li><a href="/Home/Siatkigodzin">Siatki godzin</a></li>
        <li><a href="/Home/Wykladowca">Wykladowca</a></li>
        <li><a href="/Home/Wykladowca">Dodaj przedmiot</a></li>

    </ul>
</div>
















<div>
    <p>Wykladowca</p>
</div>

