
@{
    ViewBag.Title = "Index";
}

<div class="container" style="padding-left:0">
    <ul class="nav navbar-nav">
        <li><a href="/Home/Index">Home</a></li>
        <li><a href="/Home/Admin">Panel Administracyjny</a></li>
        <li><a href="/Template/Index">Template</a></li>
    </ul>
</div>
