
@{
    ViewBag.Title = "Index";
}
<div class="container" style="padding-left:0">
    <ul class="nav navbar-nav">
        <li><a href="/Home/Index">Home</a></li>
        <li><a href="/Home/Admin">Panel Administracyjny</a></li>
        <li><a href="/Wykladowca/Index">Panel Wykladowcy</a></li>
        <li><a href="/Template/Index">Panel Template</a></li>
    </ul>
</div>

<h2>Panel Wykładowcy</h2>

