@{
    ViewBag.Title = "Sylabus WMI";
}
<div class="container" style="padding-left:0">
    <div class="container" style="padding-left:0">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index")</li>
            <li>@Html.ActionLink("Siatki godzin", "Siatkigodzin", "Home")</li>
            <li>@Html.ActionLink("Panel administracyjny", "Index", "Admin")</li>
        </ul>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Szukaj" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
    </form>
    <div class="form-group">
        <label for="rok">Rok akademicki</label>
        <select class="form-control" id="rok">
            <option value="2015/2016st">2015/2016 (ST)</option>
            <option value="2015/2016niest">2015/2016 (NIEST)</option>
            <option value="2016/2017st">2016/2017 (ST)</option>
            <option value="2016/2017niest">2016/2017 (NIEST)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="kierunek">Kierunek</label>
        <select class="form-control" id="kierunek">
            <option value="wszystkie">Wszystkie</option>
            <option value="informatyka">Informatyka</option>
            <option value="matematyka">Matematyka</option>
            <option value="nauczanie_matiinf">Nauczanie matematyki i informatyki</option>
        </select>
    </div>
    <div class="form-group">
        <label for="stopien">Stopień</label>
        <select class="form-control" id="stopien">
            <option value="pierwszy_st">Studia I stopnia</option>
            <option value="drugi_st">Studia II stopnia</option>
        </select>
    </div>
    <div class="form-group">
        <label for="rodzaj">Rodzaj przedmiotu</label>
        <select class="form-control" id="rodzaj">
            <option value="wszystkie">Wszystkie</option>
            <option value="podstawowy">Podstawowy</option>
            <option value="fakultet">Fakultet</option>
            <option value="specjalizacja">Specjalizacja</option>
        </select>
    </div>
</div>

   <div ng-app class="container">
       <div class="row">
           <div class="col-se-8 center-block">
               <h1>Dostępne przedmioty</h1>
               <div class="table-responsive">
                   <table class="table table-hover">
                    <thead>
                        <tr>
                        <th>Nazwa</th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr>
                            <td>Przedmioty</td>
                        </tr>
                    </tbody>
                    </table>
               </div>
           </div>
      </div>
</div>
  

